h1 {
    color: rgb(0, 225, 255);
    text-align: center;
    font-style: italic;
}
h2 {
    color: rgb(0, 225, 255);
    text-align: center;
    text-decoration: underline;
}
#l1 {
    color: rgb(180, 199, 97);
    font-family: verdana;
    font-style: italic;
    text-align: center;
}

#l2 {
    color: rgb(231, 229, 229);
    font-family: verdana;
    font-style: italic;
    text-align: center;
}
